<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxg.mapper.IUserMapper">
    <!-- 查询登录 -->
    <select id="getLogin" resultType="user">
		SELECT
			id,
			username,
			account,
			header_pic as headerPic
		FROM
			mk_user
		WHERE
			account = #{account}
		AND `password` = #{password}
	</select>


    <select id="getUser" resultType="user">
		SELECT 
			id,
			username,
			account,
			create_time as createTime,
			update_time as updateTime,
			active,
			password,
			header_pic as headerPic
		FROM
		 mk_user
		LIMIT 0 ,5
	</select>

    <update id="update" parameterType="user">
     UPDATE mk_user
    SET
      username = #{username},
      update_time = NOW(),
      active = #{active},
      `password` = #{password},
      header_pic = #{headerPic}
    WHERE
	  id = #{id}
    </update>
    <insert id="addUser" parameterType="user">
      INSERT INTO mk_user (
        username,
        account,
        create_time,
        active,
        `password`,
        header_pic
    )
    VALUES
        (
            #{username},
            #{account},
            NOW(),
            #{active},
            #{password},
            #{headerPic}
        )
    </insert>
    <select id="getUsersByKeyword" parameterType="params" resultType="user">
        SELECT
			id,
			username,
			account,
			create_time as createTime,
			update_time as updateTime,
			active,
			password,
			header_pic as headerPic
		FROM
		 mk_user
		 <trim prefix="WHERE" prefixOverrides="and|or">
             <if test="keyword!=null">username LIKE '%${keyword}%'</if>
         </trim>
		LIMIT #{pno} ,#{psize}
    </select>
    <select id="getUsersCount" resultType="int" parameterType="params">
        SELECT
          count(1)
        FROM
          mk_user
        <trim prefix="where" prefixOverrides="and|or">
			<if test="keyword!=null">username LIKE '%${keyword}%'</if>
		</trim>
    </select>
</mapper>