<!doctype html>
<html lang="en">
<head>
    <title>学习</title>
    <#include "/public/common.html">
</head>


<body class="site-menubar-fold site-menubar-keep" style="background:#ccc;">
<!-- 引入左边的样式及其图标 -->
<#include "/public/left.html">
    <div style="background:#fff;padding:30px;margin:20px 0 0 90px;color:#333;">

        <h1>Cookie的学习</h1>
        <hr/>
        <p>介绍：</p>
        <p>web开发者都会用cookie在客户端存储数据，cookie可用于程序间传递少量的数据，对于web应用....</p>
        <p>尽管如此，cookie的大小限制在4kb左右</p>
        <p>带宽控制，只要有涉及cookie的</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>

    </div>
</body>
</html>