<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学习</title>
    <#include "/public/common.html">
</head>
<body class="site-menubar-fold site-menubar-keep" style="background:#ccc;">
<!-- 引入左边的样式及其图标 -->
<#include "/public/left.html">
    <div style="background:#fff;padding:30px;margin:20px 0 0 90px;color:#333;">

        <h1>Cookie的学习</h1>
        <hr />
        <p>介绍：sdjgsndfgd</p>

    </div>
</body>
</html>