<!DOCTYPE html>
<html>
<head>
    <title>内容管理</title>
    <#include "/public/common.html"/>
    <style>
        /*分页相关*/
        .mkPage{font-size:12px;margin-top: 15px;}
        .mkPage a{text-decoration:none;border:solid 1px #ccc;color:#999;}
        .mkPage a,.mkPage span{display:block;float:left;padding:0em 0.5em;margin-right:5px;margin-bottom:5px;min-width:1em;text-align:center;line-height: 32px;height: 32px;padding:0 12px;}
        .mkPage .current{background:#e5e5e5;color:#999;border:solid 1px #e5e5e5;}
        .mkPage .current.prev,.mkPage .current.next{color:#999;border:1px solid #e5e5e5;background:#fff;}
        .tm_psize_go{margin-right:4px;float:left;height:34px;line-height:33px;position:relative;border:1px solid #ccc;color:#999}
        #tm_pagego{height:32px;width:30px;float:left;text-align:center;border:1px solid #ccc;line-height: 22px;color:#999}
        .sortdesc{border-top:5px solid;width:0px;height:0px;display:inline-block;vertical-align:middle;border-right:5px solid transparent;border-left:5px solid transparent;margin-left:5px;}
        .sortasc{border-bottom:5px solid;width:0px;height:0px;display:inline-block;vertical-align:middle;border-right:5px solid transparent;border-left:5px solid transparent;margin-left:5px;}

    </style>
</head>
<body class="site-menubar-fold site-menubar-keep">
<#include "/public/left.html">
    <#--内容部分-->
        <div class="page profile profile_index">
            <div class="page-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="nav-tabs-horizontal nav-tabs-inverse ">
                            <ul class="nav nav-tabs nav-tabs-solid profile_nav"
                                id="nav-tabs-solidlist">
                                <li class="active"><a href="javascript:void(0);"
                                                      class="padding-horizontal-30"> <i
                                        class="iconfont icon-vip fz20 tp1"></i>文章查询
                                </a></li>
                                <li><a href="javascript:void(0);"
                                       class="padding-horizontal-30"> <i
                                        class="iconfont icon-xingxing fz20 tp1"></i>内容编辑
                                </a></li>
                                <li><a href="javascript:void(0);"
                                       class="padding-horizontal-30"> <i
                                        class="iconfont icon-like fz20 tp1"></i>文章状态管理
                                </a></li>
                                <li><a href="javascript:void(0);"
                                       class="padding-horizontal-30"> <i
                                        class="iconfont icon-comment fz20 tp1"></i>文章添加
                                </a></li>
                            </ul>
                            <!--第一个选项卡-->
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Content</th>
                                                <th>img</th>
                                                <th>CreateTime</th>
                                                <th>UpdateTime</th>
                                                <th>Status</th>
                                                <th>CategoryId</th>
                                                <th>Hits</th>
                                                <th>Loves</th>
                                                <th>UserID</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <#list contentsList as content>
                                                <#if content??>
                                                    <tr>
                                                        <td>${content.id}</td>
                                                        <td>${content.title}</td>
                                                        <td>${content.description}</td>
                                                        <td><a href="javascript:void(0)"
                                                               class="showdetails">查看详情</a>
                                                        </td>
                                                        <td>${content.img}</td>
                                                        <#if content.createTime??>
                                                            <td>${(content.createTime)?datetime}
                                                            </td>
                                                            <#else>
                                                                <td>null</td>
                                                        </#if>
                                                        <#if content.updateTime??>
                                                            <td>${(content.updateTime)?datetime}
                                                            </td>
                                                            <#else>
                                                                <td>null</td>
                                                        </#if>
                                                        <td>${content.status}</td>
                                                        <td>${content.categoryId}</td>
                                                        <td>${content.hits}</td>
                                                        <td>${content.loves}</td>
                                                        <td>${content.userId}</td>
                                                    </tr>
                                                </#if>
                                            </#list>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="pagination" ></div>
                            </div>
                            <!--第二个选项卡-->
                            <div class="tab-content" style="display: none;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <div id="legend" class="">
                                                    <legend class="">文章新增</legend>
                                                </div>
                                                <div class="control-group">
                                                    <!-- Text input-->
                                                    <label class="control-label" for="input01">ID:</label>
                                                    <div class="controls">
                                                        <input type="text" placeholder="" class="input-xlarge">
                                                        <p class="help-block"></p>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <!-- Text input-->
                                                    <label class="control-label" for="input01">Ttle:</label>
                                                    <div class="controls">
                                                        <input type="text" placeholder="文章标题" class="input-xlarge">
                                                        <p class="help-block"></p>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <!-- Text input-->
                                                    <label class="control-label" for="input01">Description：</label>
                                                    <div class="controls">
                                                        <input type="text" placeholder="描述" class="input-xlarge">
                                                        <p class="help-block"></p>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <!-- Textarea -->
                                                    <label class="control-label">具体内容：</label>
                                                    <div class="controls">
                                                        <div class="textarea">
                                                            <textarea type="" class=""> </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">状态：</label>
                                                    <div class="controls">
                                                        <!-- Multiple Checkboxes -->
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="发布">
                                                            发布
                                                        </label>
                                                        <label class="checkbox">
                                                            <input type="checkbox" value="不发布">
                                                            不发布
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">分类Id:</label>
                                                    <!-- Multiple Checkboxes -->
                                                    <div class="controls">
                                                        <!-- Inline Checkboxes -->
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" value="1">
                                                            1
                                                        </label>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" value="2">
                                                            2
                                                        </label>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" value="3">
                                                            3
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <!-- Text input-->
                                                    <label class="control-label" for="input01">喜爱数:</label>
                                                    <div class="controls">
                                                        <input type="text" placeholder="" class="input-xlarge">
                                                        <p class="help-block"></p>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <!-- Text input-->
                                                    <label class="control-label" for="input01">点赞数:</label>
                                                    <div class="controls">
                                                        <input type="text" placeholder="" class="input-xlarge">
                                                        <p class="help-block"></p>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label"></label>
                                                    <div class="controls">
                                                        <button class="btn btn-success">提交</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>


                                    </div>
                                </div>
                            </div>
                            <!--第三个选项卡-->
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-hover">


                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--第四个选项卡-->
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-hover">


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="${resPath}/js/page.js"></script>
        <script>
            $(function () {
                loading("数据加载中....", 1);
                $("#nav-tabs-solidlist").find("li").on("click", function () {
                    $(this).addClass("active").siblings().removeClass("active");
                });
            });
            $(function () {
                loadPage();
            })
            function loadPage() {
                $(".pagination").mkPage(43, {
                    items_per_page: 5,
                    num_display_entries: 5,
                    num_edge_entries: 0,
                    prev_text: "前一页",
                    next_text: "后一页",
                    showGo: true,
                    showSelect: true,
                    callback: function () {
                        return false;
                    },
                });
            }
        </script>



        <#--优化left.html显示-->
            <script>
                $(function () {
                    $(".site-menu-item").removeClass("active");
                    $(".site-menu-item").eq(0).addClass("active");
                })
            </script>
            <script>
                $(function () {
                    content.init();
                })
                var content = {
                    init: function () {
                    },
                    update: function () {
                    },
                }
            </script>
</body>
</html>